.about-page {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.join-btn {
  display: flex;
  width: 344px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #ab1661;
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.main-text {
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.main-text a {
  color: #fff;
  text-decoration: none;
}

.main-text .row a {
  color: #ab1661;
  text-decoration: none;
}

.main-text a:hover {
  scale: 1.1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
